[Desktop Entry]
Name=Release Notes
Name[uk_UA]=Нотатки щодо випуску
Name[nl_NL]=Vrijgave-informatie
Name[sv_SE]=Utgåvenoteringar
Name[ja_JP]=リリースノート
GenericName=Release Notes
Comment=Release Notes for Fedora 18
Comment[uk_UA]=Нотатки щодо випуску Fedora 18
Comment[nl_NL]=Vrijgave-informatie voor Fedora 18
Comment[sv_SE]=Utgåvenoteringar för Fedora 18
Comment[ja_JP]=Fedora 18 のリリースノート
Exec=xdg-open file:///usr/share/doc/HTML/fedora-release-notes/index.html
Icon=fedora-release-notes
Terminal=false
Type=Application
Categories=Application;Utility
StartupNotify=true
OnlyShowIn=GNOME;
