[Desktop Entry]
Name=Release Notes for Fedora 18
Name[uk_UA]=Нотатки щодо випуску Fedora 18
Name[nl_NL]=Vrijgave-informatie voor Fedora 18
Name[sv_SE]=Utgåvenoteringar för Fedora 18
Name[ja_JP]=Fedora 18 のリリースノート
GenericName=Release Notes
GenericName[uk_UA]=Нотатки щодо випуску
GenericName[nl_NL]=Vrijgave-informatie
GenericName[sv_SE]=Utgåvenoteringar
GenericName[ja_JP]=リリースノート
Exec=xdg-open file:///usr/share/doc/HTML/fedora-release-notes/index.html
Icon=fedora-release-notes
Terminal=false
Type=Application
OnlyShowIn=KDE;
Categories=Documentation;System;
X-KDE-StartupNotify=true
